---
import { getCollection, getEntries } from "astro:content";
import { Image } from "astro:assets";
import { ArrowRight } from "lucide-react";

import Layout from "@/layouts/Layout.astro";
import ReleaseCard from "@/components/ReleaseCard.astro";
import { Container } from "@/components/ui/container";
import Metadata from "@/components/Metadata.astro";
import ArtistList from "@/components/ArtistList.astro";
import ArtistTeaser from "@/components/ArtistTeaser.astro";
import { ButtonLink } from "@/components/ui/button";
import { sortByReleaseDate, sortByJoinDate } from "@utils/sort";
import { Card } from "@/components/ui/card";

import "@styles/globals.css";

const lastReleases = (await getCollection("release"))
  .sort(sortByReleaseDate)
  .splice(0, 3);

const lastArtists = (await getCollection("artist"))
  .sort(sortByJoinDate)
  .splice(0, 2);

const newestRelease = lastReleases[0];

const artists = await getEntries(newestRelease.data.artists);
---

<Layout useCustomHeroSection>
  <Metadata
    slot="head"
    title="Beyond Souls Records"
    description="Enter a new dimension of electronic music."
    type="website"
    image=""
  />
  <div class="aspect-video w-full relative md:h-128">
    <Image
      class="h-full md:h-128 object-cover object-center blur-xl absolute left-0 right-0 bottom-0 top-0 -z-10"
      src={newestRelease.data.cover}
      widths={[800, 1700]}
      quality="low"
      alt={newestRelease.data.title}
      loading="eager"
    />
    <div class="pt-40">
      <Container
        className="flex-col md:flex-row mt-12 h-full gap-8 items-center justify-center"
      >
        <Image
          class="w-48 rounded-lg"
          src={newestRelease.data.cover}
          widths={[500, 800, 1200]}
          quality="mid"
          alt={newestRelease.data.title}
          loading="eager"
        />
        <div>
          <h2 class="text-6xl font-bold">{newestRelease.data.title}</h2>
          <p class="text-lg">by <ArtistList artists={artists} /></p>
          <ButtonLink
            className="mt-4 w-full md:w-auto"
            href={`/releases/${newestRelease.slug}`}
          >
            View Release
            <ArrowRight className="ml-2 w-6 h-6" />
          </ButtonLink>
        </div>
      </Container>
    </div>
  </div>
  <Container className="flex-col items-center mt-8">
    <h2 class="text-4xl md:text-6xl text-center font-bold my-8 md:my-12">
      Latest Releases
    </h2>
    <section class="w-full grid sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-8">
      {
        lastReleases.map((release) => (
          <ReleaseCard
            release={release}
            artists={
              artists.filter((artist) =>
                release.data.artists.find(
                  (releaseArtist) => releaseArtist.slug === artist.slug,
                ),
              )!
            }
          />
        ))
      }
    </section>
  </Container>
  <Container className="flex-col items-center mt-8">
    <h2 class="text-4xl md:text-6xl text-center font-bold my-8 md:my-12">
      Latest Artists
    </h2>
    <section class="w-full grid sm:grid-cols-2 gap-4 sm:gap-8">
      {
        lastArtists.map((artist) => (
          <Card>
            <div class="p-4">
              <ArtistTeaser {...artist} />
            </div>
          </Card>
        ))
      }
    </section>
  </Container>
</Layout>
